#app[data-theme="defaultLight"] {
  --color-bg-dark: #bdbbbb;
  --color-bg-light: #dddddd;
  --color-font-dark: #7b8a94;
  --color-font-light: #646e75;
  --color-font-main: rgb(78, 78, 80);

  --color-accent-green: rgb(28, 182, 141);
  --color-accent-red: rgb(168, 26, 26);
  --color-accent-purple: #6c19a3;

  --color-bg-user-coords-input: rgba(255, 255, 255, .3);
  --coords-button-font-color: #000;

  --color-accent-green-fade: fadeout(rgb(34, 213, 164), 60%);
  --color-accent-red-fade: fadeout(rgb(213, 34, 34), 60%);
  --color-accent-purple-fade: fadeout(#8E22D5, 60%);

  --color-accent-green-ultra-fade: fadeout(rgb(34, 213, 164), 80%);
  --color-accent-red-ultra-fade: fadeout(rgb(213, 34, 34), 80%);
  --color-accent-purple-ultra-fade: fadeout(#8E22D5, 80%);

  --map-border-color: #454545;
  --map-fill-color: #191A1A;
}
