#app[data-theme="defaultLight"] {
  --color-bg-dark: #bdbbbb;
  --color-bg-light: #dddddd;
  --color-font-dark: #7b8a94;
  --color-font-light: #646e75;
  --color-font-main: #4e4e50;

  --color-accent-green: #1cb68d;
  --color-accent-red: #a81a1a;
  --color-accent-purple: #6c19a3;

  --color-bg-user-coords-input: rgba(255, 255, 255, .3);
  --coords-button-font-color: #000;

  --color-accent-green-fade: fadeout(#22d5a4, 60%);
  --color-accent-red-fade: fadeout(#d52222, 60%);
  --color-accent-purple-fade: fadeout(#8E22D5, 60%);

  --color-accent-green-ultra-fade: fadeout(#22d5a4, 80%);
  --color-accent-red-ultra-fade: fadeout(#d52222, 80%);
  --color-accent-purple-ultra-fade: fadeout(#8E22D5, 80%);

  --map-border-color: #454545;
  --map-fill-color: #191A1A;
}
